//@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap');
body{
    font-family: arial,sans-serif;
    background-color: black;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
main{
    
}

.container{
    height: 100vh;
    position: relative;
    .nav{
        display: flex;
        justify-content: flex-end;
        padding: 6px;
        .nav-left{
            padding: 6px;
            a{
                color: #fff;
                text-decoration: none;
            }
        }
        .nav-right{
            padding: 6px;
            display: flex;
            .nav-right-menu{
                a{
                    color: #fff;
                }
            }
        }
    }
    footer{
        position: absolute;
        background-color: gray;
        bottom: 0;
        width: 100%;
        right: 0;
        left: 0;
        .ft-1{
            padding: 15px 30px;
            border-bottom: 1px solid #3c4043;
            font-size: 15px;
            color: #9aa0a6;
        }
        .ft-2{
            display: flex;
            justify-content: space-between;
            padding: 0 20px;
            position: relative;
            .ft-2-left{
                padding: 20px 0;
                a{
                    color: #9aa0a6;
                    text-decoration: none;
                    padding: 15px;
                    font-size: 14px;
                }
            }
            .ft-2-right{
                //position: relative;
                display: flex;
                align-items: center;
                a{
                    color: #9aa0a6;
                    text-decoration: none;
                    padding: 15px;
                    font-size: 14px;
                }
                .menu-setting{
                    .menu-setting-content{
                        position: absolute;
                        
                        bottom: 60px;
                        right: 0;
                        background-color: black;
                        ul{
                            list-style: none;
                        }
                    }
                }
            }
        }   
    }
}

